@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: rgba(244, 244, 245, 100);
}

.fade-in {
  animation: fadeIn ease 0.3s;
  -webkit-animation: fadeIn ease 0.3s;
  -moz-animation: fadeIn ease 0.3s;
  -o-animation: fadeIn ease 0.3s;
  -ms-animation: fadeIn ease 0.3s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

div.dragover {
  @apply bg-sky-200;
}

div.warranty-list-table-container {
  @apply overflow-scroll;
}

table.warranty-list-table {
  @apply w-full p-0 overflow-hidden border border-separate rounded-md border-zinc-200 bg-zinc-100 border-spacing-0;
}

table.warranty-list-table th,
table.warranty-list-table td {
  @apply !p-2 border border-zinc-200 text-left whitespace-nowrap;
}

table.warranty-list-table thead {
  @apply !w-full !min-w-fit rounded-md overflow-hidden text-zinc-700 font-semibold bg-zinc-100 !p-5;
}

table.warranty-list-table th {
  @apply w-full !p-5 text-xs font-normal min-w-max;
}

table.warranty-list-table tbody tr {
  @apply transition-all duration-200 bg-zinc-100 hover:bg-zinc-200;
}

table.warranty-list-table tbody tr:hover td {
  @apply border-zinc-300;
}

table.warranty-list-table tbody tr td {
  @apply !text-xs !px-5 text-zinc-900 transition-all duration-200;
}

table.warranty-list-table tbody tr td a {
  @apply !text-xs text-sky-700 hover:text-zinc-800 hover:underline;
}
