@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: rgba(244, 244, 245, 100);
}

.fade-in {
  animation: fadeIn ease 0.3s;
  -webkit-animation: fadeIn ease 0.3s;
  -moz-animation: fadeIn ease 0.3s;
  -o-animation: fadeIn ease 0.3s;
  -ms-animation: fadeIn ease 0.3s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

div.dragover {
  @apply bg-sky-200;
}

table.warranty-list-table {
  @apply w-full text-sm text-left text-gray-500;
}

table.warranty-list-table > thead {
  @apply text-xs text-gray-700 uppercase bg-gray-50;
}

table.warranty-list-table thead th {
  @apply px-6 py-3 whitespace-nowrap;
}

table.warranty-list-table thead th:last-child {
  @apply !text-right;
}

table.warranty-list-table tbody td:last-child {
  @apply !text-right;
}

table.warranty-list-table > tbody tr {
  @apply transition-all duration-200 ease-in-out bg-white border-b hover:bg-gray-50;
}
table.warranty-list-table > tbody tr th {
  @apply px-6 py-4 font-medium text-gray-900 whitespace-nowrap;
}

table.warranty-list-table > tbody tr td {
  @apply !py-4 !px-6;
}

table.warranty-list-table td[data-field='phoneNumber'] {
  @apply !whitespace-nowrap;
}
